* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.js-result-container {
	border: 1px solid black;
}

.js-minimize {
	height: 100px;
	overflow: hidden;
}

.js-hidden {
	display: none;
}